




@page
@using CoursesAppMVC.Localization
@using CoursesAppMVC.Permissions
@using CoursesAppMVC.Web.Pages.Courses
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<CoursesAppMVCResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
    <abp-script src="/Pages/Students/Index.js" />
}
<abp-card-header>
    <abp-row>
        <abp-column size-md="_6">
            <abp-card-title>@L["Students"]</abp-card-title>
        </abp-column>
        <abp-column size-md="_6" class="text-right">

@if (await AuthorizationService.IsGrantedAsync(CoursesAppMVCPermissions.Students.Create))
                {
                    <abp-button id="NewStudentButton"
                                text="@L["New Student"].Value"
                                icon="plus"
                                button-type="Primary"/>
                }
           
        </abp-column>
    </abp-row>
</abp-card-header>
<abp-card>
    <abp-card-header>
        <h2>@L["Students"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="StudentsTable"></abp-table>
    </abp-card-body>
</abp-card>

